@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles">
            <div id="hero-caption" class="content-max-width parallax-scroll-caption">
                <div class="inner">
                    <h5 class="hero-subtitle"><span>LARA DEMIR AESTHETICS</span></h5>
                    <h1 class="hero-title"><span> Contour Packages </span> <span class="secondary-font">Special Offers</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!--/Hero Section -->

    <!-- Main Content -->
    <div id="main-content">
         <!-- Main Page Content -->
        <div id="main-page-content" class="content-max-width">
            <!-- Row -->
            <div class="content-row light-section" data-bgcolor="#fafafa"> 

                 <h1 class="big-title has-animation">Pricing</h1>

                <hr>
                <hr>
            </div>

                <!-- Row -->
            <div class="content-row text-align-center row_padding_top dark-section change-header-color"
                data-bgcolor="#171717">

                  <div class="content-marquee-outer">
                    <div class="content-marquee-inner link">
                        <h1 class="content-marquee big-title secondary-font gray-color"
                            data-text="(Customised to our needs. Excludes liquid rhynoplasty and tear through)">
                            We offer a full range of special offers on our services for lips, cheeks, chin, jaw, under eye area, temples
                            to name a few. </h1>
                    </div>
                   </div>
             </div>
                 <!--/Row -->             
            <!--/Row -->
            <!-- Row --> 
            <div class="content-row row_padding_bottom dark-section change-header-color" data-bgcolor="#171717">

                <div id="itemsWrapperLinks" class="showcase-list-holder light-content">

                    <div class="showcase-list-header">
                        <div class="sl-title-caption">SELECTED PACKAGE</div>
                        <div class="sl-subtitle-caption">PRICE</div>
                    </div>

                    <div id="itemsWrapper" class="showcase-list scale-fitthumbs">
                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>3ml package</span>
                                
                            </div>
                            <div class="sl-subtitle"><span>£400</span></div>
                        </div>
                                                            
                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>4ml package</span>
                                
                            </div>
                            <div class="sl-subtitle"><span>£500</span></div>
                        </div>
                                                          
                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>5ml package</span>
                                
                            </div>
                            <div class="sl-subtitle"><span>£600</span></div>
                        </div>
                   
                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>6ml package</span>
                                
                            </div>
                            <div class="sl-subtitle"><span>£900</span></div>
                        </div>                                   
                   
                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>Lips 1ml and Nose filler </span>                                
                            </div>
                            <div class="sl-subtitle"><span>£370</span></div>
                         </div>

                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span> Microblading and 1ml lip filler </span>                                
                            </div>
                            <div class="sl-subtitle"><span>£400</span></div>
                         </div>
                        
                         <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>Lip filler 1ml and 3 areas and anti wrinkle injections</span>                                
                            </div>
                            <div class="sl-subtitle"><span>£360</span></div>
                         </div>

                     </div>

                </div>
             </div>
  

 <!-- Page Navigation -->
    <div id="page-nav">
            <div class="page-nav-wrap">
                <div class="page-nav-caption content-max-width">
                    <div class="inner">
                        <a class="page-title next-ajax-link-page" data-type="page-transition" data-firstline="Contact" data-secondline="Information" href="/contact">
                            <div class="next-hero-subtitle"><span>CONTACT US</span></div>
                            <div class="next-hero-title"><span>We are</span> <span class="secondary-font">here for you!</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
 <!-- /Page Navigation -->
  </div>
  <!-- /Main Content -->
  </div>
  <!-- /Main Page Content -->
