  <!-- Main -->
<div id="main">

    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles">
            <div id="hero-caption" class="content-max-width parallax-scroll-caption block-title">
                <div class="inner">
                    <h5 class="hero-subtitle"><span>CONTACT US</span></h5>
                    <h1 class="hero-title"><span>More</span> <span class="secondary-font">Questions?</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!--/Hero Section -->
    <!-- Main Content -->
    <div id="main-content">
        <!-- Main Page Content -->
        <div id="main-page-content" class="content-max-width">



            <!-- Row -->
            <div class="content-row full light-section change-header-color" data-bgcolor="#eee">

                <div id="map_canvas"></div>

            </div>
            <!--/Row -->
            
            <!-- Row -->
            <div class="content-row row_padding_top dark-section" data-bgcolor="#171717">

                <div class="one_third has-animation" data-delay="100">

                    <div class="box-icon-wrapper">
                        <div class="box-icon">
                            <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="box-icon-content">
                            <h5 class="no-margins"><a href="mailto:larademiraesthetics@gmail.com" class="link"><span>larademiraesthetics@gmail.com</span></a></h5>
                            <p>Email</p>
                        </div>
                    </div>

                </div>

                <div class="one_third has-animation" data-delay="200">

                    <div class="box-icon-wrapper">
                        <div class="box-icon">
                            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="box-icon-content">
                            <h5 class="no-margins">
                                54 Quarry Street,
                                Guildford, GU1 3UA
                            </h5>
                            <p>Address</p>
                        </div>
                    </div>

                </div>

                <div class=" one_third last has-animation" data-delay="300">

                    <div class="box-icon-wrapper">
                        <div class="box-icon">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="box-icon-content">
                            <h5 class="no-margins">07456533789</h5>
                            <p>Phone</p>
                        </div>
                    </div>

                </div>

            </div>
            <!--/Row -->


        </div>
        <!--/Main Page Content -->
       


    </div>
    <!--/Main Content -->

</div>
<!--/Main -->