    <!-- Main -->
<div id="main">

    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles">
            <div id="hero-caption" class="content-max-width parallax-scroll-caption">
                <div class="inner">
                    <h5 class="hero-subtitle"><span>LARA DEMIR AESTHETICS</span></h5>
                    <h1 class="hero-title"><span>Excellent</span> <span class="secondary-font">Services</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!--/Hero Section -->
    <!-- Main Content -->
    <div id="main-content">
        <!-- Main Page Content -->
        <div id="main-page-content">


            <!-- Portfolio Wrap -->
            <div id="itemsWrapperLinks" class="portfolio-wrap metro-grid fade-scaleout-effect">
                <!-- Portfolio Columns -->
                <div id="itemsWrapper" class="portfolio scale-fitthumbs">

                    <div class="item trigger-item branding design">
                        <div class="item-parallax">
                            <div class="item-appear">
                                <div class="item-content">
                                    <a class="item-wrap ajax-link-project" data-type="page-transition" href="/pricing/dermalfillers"></a>
                                    <div class="item-wrap-image" data-color="#cf837d">
                                        <img src="images/06hero.jpg" class="item-image grid__item-img trigger-item-link" alt="">
                                    </div>
                                    <img class="grid__item-img grid__item-img--large" src="images/06hero.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item-caption-wrapper">
                                <div class="item-caption">
                                    <div class="item-cat">Have a look</div>
                                    <div class="item-title secondary-font">Dermal Fillers</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item trigger-item design photo">
                        <div class="item-parallax">
                            <div class="item-appear">
                                <div class="item-content">
                                    <a class="item-wrap ajax-link-project" data-type="page-transition" href="/pricing/antiwrinkleinjections"></a>
                                    <div class="item-wrap-image" data-color="#4c484f">
                                        <img src="images/01hero.jpg" class="item-image grid__item-img trigger-item-link" alt="">
                                    </div>
                                    <img class="grid__item-img grid__item-img--large" src="images/01hero.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item-caption-wrapper">
                                <div class="item-caption">
                                    <div class="item-cat">See pricing</div>
                                    <div class="item-title secondary-font">Anti-Wrinkle Injections</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item trigger-item design photo wide">
                        <div class="item-parallax">
                            <div class="item-appear">
                                <div class="item-content">
                                    <a class="item-wrap ajax-link-project" data-type="page-transition" href="/pricing/skintreatments"></a>
                                    <div class="item-wrap-image" data-color="#b54d35">
                                        <img src="images/03hero.jpg" class="item-image grid__item-img trigger-item-link" alt="">
                                    </div>
                                    <img class="grid__item-img grid__item-img--large" src="images/03hero.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item-caption-wrapper">
                                <div class="item-caption">
                                    <div class="item-cat">Go to details</div>
                                    <div class="item-title secondary-font">Skin Treatments</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item trigger-item photo">
                        <div class="item-parallax">
                            <div class="item-appear">
                                <div class="item-content">
                                    <a class="item-wrap ajax-link-project" data-type="page-transition" href="/pricing/fatdisolvinginjections"></a>
                                    <div class="item-wrap-image" data-color="#6b91a1">
                                        <img src="images/07hero.jpg" class="item-image grid__item-img trigger-item-link" alt="">
                                    </div>
                                    <img class="grid__item-img grid__item-img--large" src="images/07hero.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item-caption-wrapper">
                                <div class="item-caption">
                                    <div class="item-cat">Get shaped with</div>
                                    <div class="item-title secondary-font">Fat Dissolving Injections</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item trigger-item photo">
                        <div class="item-parallax">
                            <div class="item-appear">
                                <div class="item-content">
                                    <a class="item-wrap ajax-link-project" data-type="page-transition" href="/pricing/vitaminboosters"></a>
                                    <div class="item-wrap-image" data-color="#343434">
                                        <img src="images/05hero.jpg" class="item-image grid__item-img trigger-item-link" alt="">
                                    </div>
                                    <img class="grid__item-img grid__item-img--large" src="images/05hero.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item-caption-wrapper">
                                <div class="item-caption">
                                    <div class="item-cat">Never miss</div>
                                    <div class="item-title secondary-font">Vitamin Boosters</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item trigger-item photo wide">
                        <div class="item-parallax">
                            <div class="item-appear">
                                <div class="item-content">
                                    <a class="item-wrap ajax-link-project" data-type="page-transition" href="/pricing/pdomonothreads"></a>
                                    <div class="item-wrap-image" data-color="#343434">
                                        <img src="images/08hero.jpg" class="item-image grid__item-img trigger-item-link" alt="">
                                    </div>
                                    <img class="grid__item-img grid__item-img--large" src="images/08hero.jpg" alt="" />
                                </div>
                            </div>
                            <div class="item-caption-wrapper">
                                <div class="item-caption">
                                    <div class="item-cat">Never miss</div>
                                    <div class="item-title secondary-font">PDO Threads/Mono Treads</div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!--/Portfolio -->
            </div>
            <!--/Portfolio Wrap -->


        </div>
        <!--/Main Page Content -->
        <!-- Page Navigation -->
        <div id="page-nav">
            <div class="page-nav-wrap">
                <div class="page-nav-caption content-max-width">
                    <div class="inner">
                        <a class="page-title next-ajax-link-page" data-type="page-transition" data-firstline="Contact" data-secondline="Information" href="/contact">
                            <div class="next-hero-subtitle"><span>CONTACT US</span></div>
                            <div class="next-hero-title"><span>We are</span> <span class="secondary-font">here for you!</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Page Navigation -->


    </div>
    <!--/Main Content -->

</div>
<!--/Main -->