<!-- Main -->
<div id="main">

    <!-- Hero Section -->
    <div id="hero">
        <div id="hero-styles">
            <div id="hero-caption" class="content-max-width parallax-scroll-caption">
                <div class="inner">
                    <h5 class="hero-subtitle"><span>SERVICES & PRICING</span></h5>
                    <h1 class="hero-title"><span>Vitamin</span> <span class="secondary-font">Boosters</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!--/Hero Section -->
    <!-- Main Content -->
    <div id="main-content">
        <!-- Main Page Content -->
        <div id="main-page-content" class="content-max-width">


            <!-- Row -->
            <div class="content-row row_padding_bottom light-section" data-bgcolor="#fafafa">

                <h2 class="has-animation">We offer vitamin shots to give your system a boost without the negative
                    comedown effects of energy drinks.</h2>
                <br />
                <h2 class="has-animation">Vitamin injections allow your body to utilise all of the nutrients as they are
                    injected directly into your arms. </h2>
                <br />
                <h2 class="has-animation">When the vitamins are taken orally, large part of the vitamins can be lost
                    during the digestive process. We can help you achieve your desired wellness goals with our highly
                    effective vitamin shots. </h2>

            </div>
            <!--/Row -->
            <!-- Row -->
            <div class="content-row light-section" data-bgcolor="#fafafa">

                <h5 class="has-animation gray-color">SEE</h5>

                <h1 class="big-title has-animation">Pricing</h1>

                <hr>
                <hr>

            </div>
            <!--/Row -->
            <!-- Row -->
            <div class="content-row text-align-center row_padding_top dark-section change-header-color"
                data-bgcolor="#171717">

                <div class="content-marquee-outer">
                    <div class="content-marquee-inner link">
                        <h1 class="content-marquee big-title secondary-font gray-color"
                            data-text="We offer vitamin shots to give your system a boost without the negative comedown effects of energy drinks.">
                            We offer vitamin shots to give your system a boost without the negative comedown effects of
                            energy drinks.</h1>
                    </div>
                </div>

            </div>
            <!--/Row -->
            <!-- Row -->
            <div class="content-row row_padding_bottom dark-section change-header-color" data-bgcolor="#171717">

                <div id="itemsWrapperLinks" class="showcase-list-holder light-content">

                    <div class="showcase-list-header">
                        <div class="sl-title-caption">SELECTED TREATMENT</div>
                        <div class="sl-subtitle-caption">PRICE</div>
                    </div>

                    <div id="itemsWrapper" class="showcase-list scale-fitthumbs">
                        <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>Consultation</span>
                                <span
                                    style="font-size: 14px;line-height: normal !important;color: #ffffff;opacity: 0.8;">
                                    Not too sure what do you need? Book a consultation so we can be sure what is best
                                    for you. At the end of consultation we can advice you what can we offer and what is
                                    suitable for you to achieve your desired look. Book a treatment on the day and we
                                    will take your £50 consultation fee of the treatment.
                                </span>
                            </div>
                            <div class="sl-subtitle"><span>£50</span></div>
                        </div>
                        <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>Vitamin B7-Biotin</span>
                                <span
                                    style="font-size: 14px;line-height: normal !important;color: #ffffff;opacity: 0.8;">
                                    Vitamin B7 helps to improve the strength and durability of fingernails and enhance
                                    hair and skin health. It can also aid to break down fat in your body and help to
                                    metabolise carbohydrates and amino acids. Biotin is an important part of creating
                                    the energy your body needs.
                                </span>
                            </div>
                            <div class="sl-subtitle"><span>£35</span></div>
                        </div>
                        <div class="slide-list trigger-item hide-ball" data-text="01">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>Vitamin C</span>
                                <span
                                    style="font-size: 14px;line-height: normal !important;color: #ffffff;opacity: 0.8;">
                                    Vitamin C has a positive impact on skin pigmentation, free radicals, resistance to
                                    allergies and some health conditions.
                                </span>
                            </div>
                            <div class="sl-subtitle"><span>£35</span></div>
                        </div>
                        <div class="slide-list trigger-item hide-ball" data-text="02">
                            <div class="sl-title trigger-item-link secondary-font">
                                <span>Vitamin B12</span>
                                <span
                                    style="font-size: 14px;line-height: normal !important;color: #ffffff;opacity: 0.8;">
                                    Vitamin B12 shots are very effective at raising blood levels of B12 and
                                    preventing/reversing a deficiency while giving you more energy and boost your
                                    metabolism, helping you shed unwanted pounds.
                                </span>
                            </div>
                            <div class="sl-subtitle"><span>£35</span></div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/Row -->



        </div>
        <!--/Main Page Content -->
        <!-- Page Navigation -->
        <div id="page-nav">
            <div class="page-nav-wrap">
                <div class="page-nav-caption content-max-width">
                    <div class="inner">
                        <a class="page-title next-ajax-link-page" data-type="page-transition" data-firstline="Contact"
                            data-secondline="Information" href="/contact">
                            <div class="next-hero-subtitle"><span>CONTACT US</span></div>
                            <div class="next-hero-title"><span>More</span> <span
                                    class="secondary-font">Questions?</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Page Navigation -->


    </div>
    <!--/Main Content -->

</div>
<!--/Main -->