<div id="main">
    <div id="hero" class="has-slider">
        <div id="hero-styles">
            <div id="hero-caption" class="content-max-width parallax-scroll-caption inline-title">
                <div id="showcase-slider-holder" data-pattern-img="images/displacement/7.jpg">
                    <div id="showcase-slider" class="swiper-container">
                        <div id="trigger-slides" class="swiper-wrapper">
                            <div class="swiper-slide" data-title="Dermal Fillers" data-subtitle="Add volume, smooth out wrinkles and contour the facial features">
                                <div class="slide-wrap active" data-slide="0"></div>
                            </div>

                            <div class="swiper-slide" data-title="Anti-Wrinkle Injections" data-subtitle="Most popular aesthetics treatment for fine lines and wrinkles">
                                <div class="slide-wrap" data-slide="1"></div>
                            </div>

                            <div class="swiper-slide" data-title="Skin Treatments" data-subtitle="For your natural, rejuvenated, most desired look">
                                <div class="slide-wrap" data-slide="2"></div>
                            </div>

                            <div class="swiper-slide" data-title="Fat Dissolving Injections " data-subtitle="Achieve a slimmer, more contoured body shape, with long-lasting results">
                                <div class="slide-wrap" data-slide="3"></div>
                            </div>

                            <div class="swiper-slide" data-title="Vitamin Boosters" data-subtitle="Your desired wellness goals with our highly effective vitamin shots">
                                <div class="slide-wrap" data-slide="4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Showcase Slider Holder -->
                <!-- Showcase Borders -->
                <div id="fixed-borders">
                    <div class="caption-border left"></div>
                    <div class="caption-border right"></div>
                </div>
                <!--/Showcase Borders -->
                <!-- canvas slider -->
                <div id="canvas-slider" class="canvas-slider">
                    <div class="slider-img" data-slide="0"><img class="slide-img" src="images/06hero.jpg" alt="" /></div>
                    <div class="slider-img" data-slide="1"><img class="slide-img" src="images/01hero.jpg" alt="" /></div>
                    <div class="slider-img" data-slide="2"><img class="slide-img" src="images/03hero.jpg" alt="" /></div>
                    <div class="slider-img" data-slide="3"><img class="slide-img" src="images/07hero.jpg" alt="" /></div>
                    <div class="slider-img" data-slide="4"><img class="slide-img" src="images/05hero.jpg" alt="" /></div>
                </div>
                <!--/canvas slider -->
                <!-- Showcase Pagination -->
                <div class="showcase-pagination-wrap">
                    <div class="showcase-pagination"></div>
                </div>
                <!--/Showcase Pagination -->

                <div id="hero-footer">
                    <div class="hero-footer-left">
                        <div class="button-wrap left disable-drag swiper-prev">
                            <div class="icon-wrap parallax-wrap">
                                <div class="button-icon parallax-element">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                            </div>
                            <div class="button-text sticky left"><span data-hover="Prev Treatment">Prev Treatment</span></div>
                        </div>
                    </div>

                    <div class="hero-footer-right">
                        <div class="button-wrap right disable-drag swiper-next">
                            <div class="icon-wrap parallax-wrap">
                                <div class="button-icon parallax-element">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                            <div class="button-text sticky right"><span data-hover="Next Treatment">Next Treatment</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/Hero Section -->
    <!-- Main Content -->
    <div id="main-content">
        <!-- Main Page Content -->
        <div id="main-page-content" class="content-max-width">
            <!-- Row -->
            <div class="content-row row_padding_top light-section" data-bgcolor="#fafafa">

                <h5 class="has-animation gray-color text-align-center">Welcome to LARA DEMIR AESTHETICS</h5>

                <br>

                <div class="title-moving-outer has-animation">
                    <h1 class="big-title title-moving-forward">Relations based on trust. It's never late to pamper yourself.</h1>
                </div>

                <br>

                <div class="title-moving-outer has-animation">
                    <h1 class="big-title title-moving-backward secondary-font">Take a look at our refreshing treatments. Make time for the best version of yourself, make difference.</h1>
                </div>

                <hr>

            </div>
            <!--/Row -->
            <div class="light-section-wrapper">
                <div class="light-section-container content-max-width">
                    <div class="content-row row_padding_bottom light-section" data-bgcolor="#fafafa">
                        <h2 class="has-animation">
                            Lara Demir Aesthetics are professional aesthetic practitioners based in Guildford.
                        </h2>
                        <h2 class="has-animation">
                            We offer a wide range of  non surgical aesthetic treatments, affordable alternative to plastic surgery in a relaxed friendly environment.
                        </h2>
                        <h2 class="has-animation">
                            We follow strict procedure to ensure safe practice and effective results. Because we strive to provide the best quality of care attainable and produce natural-looking results that achieve the look you desired.
                        </h2>
                        <h2 class="has-animation">
                            Our aestheticians are professionally trained and fully qualified. This gives you total peace of mind and allows full relaxation at every step of treatment you receive from us.
                        </h2>
                        <br />
                        <h5 class="has-animation gray-color text-align-center">OUR AIM</h5>
                        <h2 class="has-animation">
                            Our aim is to rejuvenate your look and boost your self confidence. We enhance your skin’s natural beauty through non invasive procedures, we personally tailor the treatments for you to achieve your desired look.
                        </h2>
                    </div>
                </div>
            </div>
            <!--/Row -->
            <!-- Row -->
            <div class="content-row row_padding_bottom text-align-center light-section" data-bgcolor="#fafafa">

                <div class="button-box has-animation" data-delay="100">
                    <div class="clapat-button-wrap parallax-wrap hide-ball">
                        <div class="clapat-button parallax-element">
                            <div class="button-border rounded parallax-element-second" data-btncolor="#2b2a35" data-btntextcolor="#fff">
                                <a class="ajax-link" data-type="page-transition" href="/pricing">
                                    <span data-hover="Let's Go!">View Services & Pricing</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

            </div>
            <!--/Row -->
            <!-- Row -->
            <div class="content-row small row_padding_bottom text-align-center row_padding_top light-section" data-bgcolor="#fff">

                <h5 class="has-animation gray-color">GET IN TOUCH</h5>
                <h1 class="has-animation big-title" data-delay="150">More <span class="secondary-font">questions?</span></h1>

                <hr>

                <!-- Contact Formular -->
                <div id="contact-formular">

                    <div id="message"></div>

                    <form method="post" action="http://clapat.ro/themes/ernest/contact.php" name="contactform" id="contactform">
                        <div class="name-box has-animation" data-delay="100">
                            <input name="name" type="text" id="name" size="30" value="" placeholder="What's Your Name"><label class="input_label"></label>
                        </div>
                        <div class="email-box has-animation" data-delay="150">
                            <input name="email" type="text" id="email" size="30" value="" placeholder="Your Email"><label class="input_label"></label>
                        </div>
                        <div class="message-box has-animation" data-delay="100">
                            <textarea name="comments" cols="40" rows="4" id="comments" placeholder="Tell Us About Your Project"></textarea><label class="input_label slow"></label>
                        </div>
                        <div class="button-box has-animation hide-ball" data-delay="100">
                            <div class="clapat-button-wrap parallax-wrap">
                                <div class="clapat-button parallax-element">
                                    <div class="button-border rounded" data-btncolor="#2b2a35" data-btntextcolor="#fff"><input type="submit" class="send_message" id="submit" value="Send Message" /></div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!--/Contact Formular -->
            </div>
            <!--/Row -->


        </div>
        <!--/Main Page Content -->

    </div>
    <!--/Main Content -->

</div>