
<!--/Main -->
<div id="main" style="opacity">
    <div id ="hero">
        <div id="hero-styles">           
                <div id="hero-caption" class="content-max-width parallax-scroll-caption block-title" style="opacity: 1; transform: translate(0px, 0px);">
                <div class="inner">
                    <h5 class="hero-subtitle">
                        <span style="opacity: 1; transform: translate3d(0px, 0px, 0px);">TERMS AND CONDITIONS</span>
                    </h5>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!--/Main -->

<!--/Main -->
<div id="main-content">
    <div id="main-page-content" class= "content-max-width" style="opacity: 1;">
     <div class ="content-row row_padding_top">
         <h3> Terms And Conditions</h3>
         <h3> Lara Demir Aesthetics Terms Of Service And Privacy Policy</h3>
         <p>Your privacy and security are important to us. Please read this Privacy Policy carefully and get in touch with us if you have any queries or concerns.</p>
         <h4>1. Terms</h4>
         <p>By accessing the website at https://www.larademiraesthetics.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If in the case of you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
         <h4>2. Use Licence</h4>
         <p>Authorization is allowed to temporarily download one copy of the materials only on Lara Demir Aesthetics website for personal or  non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not : modify or copy the materials; use the materials for any commercial purpose, or for any public display, this is the case with commercial or non-commercial use; remove any copyright or other proprietary notations from the materials; or transfer the materials to another person or “mirror” the materials on any other server at all times. if this occurs, this license shall inevitably  abolish if you violate any of these conditions and may be terminated by Lara Demir Aesthetics when necessary. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in all formats at all times.</p>
         <h4>3. Appointment Cancellation</h4>
         <p>Please note Lara Demir Aesthetics operates on a 3 day cancellation policy. If you wish to cancel or rearrange appointments, we kindly ask you to give us 3 days’ notice. We reserve the right to charge up to the full cost of the appointment if there is a no show or adequate notice is not given.</p>
         <p>For Deposits £80 non-refundable booking fee is taken to secure the booking. Should you wish to proceed with a treatment this deposit can be used towards the cost of your treatment on the day .
            Should you decide at your consultation that you do not wish to have a treatment, this deposit will be retained to cover the practitioners time and expertise. Should you cancel or reschedule your appointment outside of the 3 day cancellation policy this will be processed and no longer available
            To redeem against treatment or products.
            That aside, please phone the clinic to check if you should still attend your appointment. Your general medical health is important for you and to us, and we are happy to reschedule your aesthetic treatment if necessary.
         </p>
         <h4>4. Disclaimer</h4>
         <p>The materials on Lara Demir Aesthetics’s website are provided on an in its present condition basis. Therefore Lara Demir Aesthetics makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Furthermore, Lara Demir Aesthetics does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
        </p>
        <h4>5. To Change Or Cancel Your Appointment</h4>
        <p>Please phone Lara Demir Aesthetics and speak to a member of our team if you wish to change or cancel your appointment. We strive to ensure that we are always available to you by phone or email , however you may not always be able to speak with us straight away, so please keep trying or use the online system. WE DO NOT accept cancelations via, text, Instagram, or social media platforms, or answer phone message.
        </p>
        <h4>6. Refunds</h4>
        <p> We do not provide refunds on any treatments that have been provided under any circumstances.
        </p>
        <h4>7. Treatment Results</h4>
        <p>We will discuss treatment expectations with you at the consultation, and will strive to achieve the best result for you. However, treatment results may vary between individuals and there is no guarantee of a desired result with injectable facial treatments. This is due to multiple factors, including facial structure, presence of facial asymmetry, skin types, patient age and the extent of volume loss.
        </p>
        <h4>8. Policy On Smoking</h4>
        <p> Smoking is not permitted inside or on clinic premises.
        </p>
        <h4>9. Policy On Children &amp; Pets</h4>
        <p>We regret that we are unable to allow children into our clinic.For safety reasons, children are not allowed in the treatment room at any time. Lara Demir Aesthetics is unable to allow pets in the clinic for hygiene purposes.
        </p>
        <h4> 10. Compliments And Complaints Policy</h4>
        <p>Lara Demir Aesthetics has achieved excellent results with many happy patients, and has built our patient base predominantly from recommendations and referrals.
                    If you are pleased with your treatment, we would love to hear about this. If we have not quite met your expectations, please allow Lara Demir Aesthetics the opportunity to review the results and discuss this with you.
                    The highest level of care and attention is given at our clinic. All minimally invasive cosmetic treat ment carries a degree of risk included but not limited to redness, mild swelling , mild bruising and soreness that should pass away in a few hours or days after tretament. In the very rare case of an alergic reaction clients are advised to seek immidiate medical attention. In such cases we request that you visit our clinic within 7 days after treatment along with any medical reports to assess the treated area where we may provide further treatment to relieve any side effects.
                    If you still feel the issue has not been resolved and wish to make a formal complaint please contact our clinic in writing by emailing larademiraesthetics@gmail.com with the subject heading “Formal Complaint”. We aim to acknowledge all written complaints within 5 working days.
                </p>
       <h4>11. Limitations</h4>
       <p>In no event shall Lara Demir Aesthetics or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Lara Demir Aesthetics’s website, even if Lara Demir Aesthetics authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you
                </p>
      <h4>12. Access to our site</h4>
      <p>Access to Our Site is free of charge. It is your responsibility to make any and all arrangements necessary in order to access Our Site. Access to Our Site is provided “as is” and on an “as available” basis. We may alter, suspend or discontinue Our Site (or any part of it) at any time and without notice. We will not be liable to you in any way if Our Site (or any part of it) is unavailable at any time and for any period.
                </p>
      <h4>13. Accuracy Of Materials</h4>
      <p>Lara Demir Aesthetics has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Lara Demir Aesthetics of the site. Use of any such linked website is at the user’s own risk.
                </p>
      <h4>14. Modifications</h4>
      <p>Lara Demir Aesthetics may revise these  terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
</p>
      <h4>15. Advertising</h4>
      <p>We may feature advertising on Our Site. We will not be responsible for any advertising on Our Site including, but not limited to, any errors, inaccuracies, or omissions.
                </p>
     <h4>16.Use Of Our System</h4
     <p>You may use Our System at any time to contact Us, provided you abide by the following rules. You must not communicate in a way, submit information, or otherwise do anything that:is sexually explicit; is obscene, deliberately offensive, hateful or otherwise inflammatory; promotes violence; promotes or assists in any form of unlawful activity; discriminates against, or is in any way defamatory of, any person, group or class of persons, race, sex, religion, nationality, disability, sexual orientation or age; is intended or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person; is calculated or is otherwise likely to deceive; is intended or is otherwise likely to infringe (or to threaten to infringe) another person’s privacy; misleadingly impersonates any person or otherwise misrepresents your identity or affiliation in a way that is calculated to deceive; implies any form of affiliation with Us where none exists; infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trademarks and database rights) of any other party; or is in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.
                    We may monitor any and all communications made using Our System.
                    Any information that you send to Us through Our System may be modified by Us and, by sending us such information, you waive your moral right to be identified as the author of that information. Any personal information sent to Us, whether through Our System or otherwise, will be collected,
                    used and held in accordance with your rights and Our obligations under the Data Protection Act 1998, as set out below.
                </p>
     <h4>17. Our Liability</h4>
     <p> To the fullest extent permissible by law, We accept no liability to any user for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) Our Site or theuse of or reliance upon any Content included on Our Site.
                    To the fullest extent permissible by law, We exclude all representations, warranties, and guarantees (whether express or implied) that may apply to Our Site or any Content included on Our Site.
                    If you are a business user, We accept no liability for loss of profits, sales, business or revenue; loss of business opportunity, goodwill or reputation; loss of anticipated savings; business interruption; or for any indirect or consequential loss or damage.
                    We exercise all reasonable skill and care to ensure that Our Site is free from viruses and other malware. Subject to sub-Clause 9.3, We accept no liability for any loss or damage resulting from a virus or other malware, a Distributed denial of service attack, or other harmful material or event that may adversely affect your hardware, software, data or other material that occurs as a result of your use of Our Site (including the downloading of any Content from it) or any other site referred to on Our Site.
                    We neither assume nor accept responsibility or liability arising out of any disruption or nonavailability of Our Site resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, natural events, acts of war, or legal restrictions and censorship.
                    Nothing in these Terms and Conditions excludes or restricts Our liability for fraud or fraudulent misrepresentation, for death or personal injury resulting from negligence, or for any other forms of liability which cannot be excluded or restricted by law. For full details of consumers’ legal rights, including those relating to digital content, please contact your local Citizens’ Advice Bureau or Trading Standards Office.
                </p>
     </div>
    </div>
</div>

